[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/my-theme"]
	path = themes/my-theme
	url = git@github.com:EthanLatimerGB/hugo-theme.git
