@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Inconsolata:wght@200..900&display=swap');

:root {
  --background-color: oklch(0.956 0.0237 88.23);
  --tertiary-background: oklch(0.550 0.1392 50.82);
}

body {
  color: #222;
  background-color: var(--background-color);
  font-family: inconsolata, sans-serif;
  line-height: 1.5;
  margin: 1rem;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

h1 {
  font-family: Alegreya, 'Times New Roman', Times, serif;
  font-size: 48px;
}

/*
* Custom Classes
*/

.intro-content-container {
  border: 1px black solid;
  padding: 24px;
  background-color: var(--tertiary-background);
  box-shadow: inset 18px 0 rgba(0, 0, 0, 10%);
}
