@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Inconsolata:wght@200..900&display=swap');

:root {
  /*Font Choice*/
  --font-base: inconsolata, sans-serif;
  --font-styled: Alegreya, 'Times New Roman', Times, serif;

  --background-color: oklch(0.956 0.0237 88.23);

  --primary-background: oklch(0.550 0.1392 50.82);
  --tertiary-background: oklch(0.700 0.0237 88.23);
}

body {
  color: #222;
  background-color: var(--background-color);
  font-family: var(--font-base);
  line-height: 1.5;
  margin: 1rem;
  font-size: 18px;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

h1,
h2 {
  font-family: var(--font-styled);
}

h1 {
  font-size: 3em;
}

/*
* Custom Classes
*/

.post-container {
  border: 1px black solid;
  padding: 24px;
  background-color: var(--tertiary-background);
  margin-bottom: 8px;

  h1,
  h2,
  h3 {
    font-family: var(--font-base);
  }
}

.intro-content-container {
  background-color: var(--primary-background);
  box-shadow: inset 18px 0 rgba(0, 0, 0, 10%);
  margin-bottom: 48px;


}
